.ijk{
	background-color: black;
	text-align: right;
}
.jik{
background-image: url(./images/imagi.jpg);
background-size: contain;
}
.mk{
	text-align: center;
}
.is{
	word-spacing: 5px;
	line-height: 1.8;
}
.mkl{
	color: #e2e2e2;
}
.ilo{
background-color: #eee459;
}
.yi{
	background-color: #839100;
}